button {
    border: 0;
    padding: 10px 30px 10px 30px;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.568);
    font-size: 0.8rem;
    font-weight: 700;
    color: black;
    max-height: 50px;
    min-height: 50px;
    max-width: 110px;
    min-width: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F8BF29;
    text-align: center;
}

@media(max-height: 932px) {
    button {
        border: 0;
        padding: 10px 30px 10px 30px;
        cursor: pointer;
        border-radius: 25px;
        font-weight: 600;
        font-size: 0.7rem;
        max-height: 40px;
        min-height: 40px;
        max-width: 50px;
        min-width: 50px;

    }

}