:host {
    section {
        position: relative;
        display: flex;
        height: 90vh;
        max-width: 100%;
        clip-path: inset(0);
        box-shadow: inset 0px 0px 75px -12px rgba(0, 0, 0, 1);
        overflow: hidden;

        .security-image {
            width: 100%;
            transition: filter 0.3s ease;
            filter: blur(8px);
            height: 100%;

            &:hover {
                filter: blur(12px);
            }
        }

        .description {
            display: grid;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(35%, -50%);
            gap: 35px;

            h1 {
                font-weight: 600;
                text-align: center;
            }

            h2 {
                font-weight: 600;
                text-align: center;
                line-height: 1.6;
                font-size: 1.2rem;

            }

            .icon-div {
                width: 176px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                align-self: center;
                justify-self: center;

                h1 {
                    font-weight: 800;
                    filter: drop-shadow(0px 0px 1px #0000003f);

                }

                img {
                    margin-right: 5px;
                    filter: drop-shadow(0px 0px 1px #0000003f);
                }

            }
        }

        .budget-button {
            cursor: pointer;
            justify-self: start;
            border: 0;
            background-color: #F8BF29;
            padding: 10px 20px;
            text-align: center;
            height: 65px;
            border-radius: 10px;
            font-weight: 600;
            font-size: 1.2rem;
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
            transition: transform 0.3s ease, background-color 0.3s ease;
            align-self: center;
            justify-self: center;

            &:hover {
                transform: scale(1.03);
                background-color: #F8BF29;
            }
        }
    }

    .buttons {
        width: 100%;
        position: absolute;
        bottom: -50px;
        display: flex;
        justify-content: center;
        transition: bottom 0.5s ease, opacity 0.5s ease;
        opacity: 0;
        pointer-events: none;

        .down-button {
            background-color: transparent;
            border: 0;
            font-size: 4rem;
            cursor: pointer;
            color: black;
            transition: 0.2s ease;

            &:hover {
                color: rgba(0, 0, 0, 0.794);
            }
        }

    }

    &:hover {
        .buttons {
            bottom: 2%;
            opacity: 1;
            pointer-events: all;
        }
    }
}


@media(max-height:932px) {
    :host {
        section {
            height: 82vh;

            .description {
                display: grid;
                position: absolute;
                width: 100%;
                justify-items: center;
                transform: translate(-50%, -50%);
                gap: 65px;

                h1 {
                    font-weight: 750;
                    font-size: 1.2rem;
                    text-align: center;
                }

                h2 {
                    filter: drop-shadow(0px 0px 1px #0000006e);
                    font-weight: 550;
                    font-size: 0.9rem;
                    text-align: center;

                }

            }

            .budget-button {
                justify-self: center;
                font-size: 0.8rem;
                border: 0;
                padding: 5px 10px;
                text-align: center;
                height: 45px;
                font-weight: 800;
            }
        }
    }

}

@media(max-height:915px) {
    :host {

        section {
            height: 84vh;
        }
    }
}

@media(max-height:900px) {
    :host {

        section {
            height: 86vh;
        }
    }
}

@media(max-height:883px) {
    :host {

        section {
            height: 88vh;
        }
    }
}


@media(max-height:845px) {
    :host {

        section {
            height: 90vh;
        }
    }
}




@media(max-height:700px) {


    section {
        height: 90vh;
    }

}