<section >
    <img class="security-image" src="./security-image.jpg" alt="Imagem de segurança">
    <div class="description">

        <div class="icon-div" @slideIn>
            <img class="" src="./logo-sem-escrita.png" alt="logo">
            <h1>AMPLAVISÃO</h1>
        </div>

        <h2 @slideInDelay>Explore nossas soluções integradas de segurança<br> projetadas para atender às suas
            necessidades.</h2>
        <h2 @slideInDelay>Com tecnologia de ponta e estratégias personalizadas<br> garantimos a proteção do seu espaço e
            de todos.</h2>
        <button (click)="scrollService.scrollToSection('budget-section')" @slideIn type="button" class="budget-button">
            SOLICITE SEU ORÇAMENTO
        </button>

    </div>
    <div class="buttons">
        <app-down-button [downPage]="'client-section'"></app-down-button>
    </div>

</section>