:host {
    display: flex;
    height: 30px;
    margin-right: 10px;
    background-color: transparent;

    .filter-container {
        position: relative;

        nav {
            position: absolute;
            top: 100%;
            left: 0;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            z-index: 1000;
            margin-top: 15px;
            width: 320px;


            ul {
                background-color: #F8BF29;
                list-style-type: none;
                padding: 0;
                margin: 0;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;

                li {
                    padding: 6px 8px;
                    cursor: pointer;
                    color: black;
                    font-weight: 600;
                    transition: background-color 0.3s ease;
                    text-align: center;

                    &:hover {
                        background-color: #dfab29;
                    }
                }

                li:last-child {
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                }

                li:not(:last-child) {
                    border-bottom: 1px solid transparent;
                }
            }
        }
    }

    input {
        width: 200px;
        border: 0;
        padding: 10px;

        &:focus {
            border: 0;
            outline: 0;
        }
    }

    .filter-button {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border: none;
    }

    button {
        padding: 10px;
        background-color: #F8BF29;
        border: none;
        cursor: pointer;
        font-weight: 600;
        transition: all 0.3s ease;
        outline: none;
        box-shadow: none;

        &:hover {
            background-color: #dfab29;
        }
    }

    .search-button {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

@media(max-width:768px) {
    :host {
        height: 25px;

        input {
            width: 150px;
            font-size: 0.7rem;
        }

        button {
            font-size: 0.7rem;
        }
    }
}