.invalid-feedback {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
    color: #ff4b4b;
    font-weight: 500px;
    border-radius: 5px;
    gap: 10px;
    margin: 4px 0px 0px 6px;
    text-shadow: 0 2px 8px #00000022;
}