<nav>
    <ul [ngClass]="isProductPage() ? 'tree-columns' : 'two-columns'">
        @if(isProductPage()){
        @for(option of productOptions; track option.name) {
        <li>
            @if(option.name === 'PÁGINA INICIAL'){
            <a (click)="navigateService.navigateTo('')"><span>{{option.name}}</span> <i [class]="option.icon"></i></a>
            }@else {
            <a (click)="scrollService.scrollToSection(option.goTo)"><span>{{option.name}}</span> <i [class]="option.icon"></i></a>
            }
        </li>
        }
        }@else {
        @for(option of menuOptions; track option.name) {
        <li [class]="option.name">
            <a (click)="scrollService.scrollToSection(option.goTo)"><span>{{option.name}}</span> <i [class]="option.icon"></i></a>
        </li>
        }
        }

    </ul>
</nav>